body {
    background: #ffffff;
}

#principal {
    width: 1250px;
}

#galeria {
    background-color: aquamarine;
    
}

.noticia {
    background-color: rgb(185, 185, 185);
    padding: 5px;
    width: 280px;
    margin: 7px;
    float: left;
}

.clear {
    clear: both;
}

.imagem-galeria {
    background: rgb(224, 224, 224);
    width: 275px;
    padding: 5px;
    float: left;
    margin: 10px;
}