body {
    background: rgb(89, 135, 143);
}

#container {
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

h1 {
    position: static;
    }

p {
    width: 300px; 
}

.relative {
    border: 1px solid red;
    position: relative;
    /* top, right, bottom left */
    top: 20x;
    left: -80px;
}

.absolute {
    position: absolute;
    border: 1px solid red;
    background: #F2F2F2;
    top: 80px;
    right: 80px;
}

.fixed {
    position: fixed;
    border: 1px solid red;
    margin: 0px;
    background: #F2F2F2;
    top: 0px;
    right: 0px;
    
}

