@charset "UTF-8";

/*
**** Limpar Fomatações padrões  ****
*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(238, 237, 237);
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    
}

/*
**** Cabeçalho ****
*/

header {
    background-color: #f7b600;
    color: white;
    text-align: center;
    padding: 15px;
    line-height: 40px;
}
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.37);
}
.branco {
    color: white;
}

/*
**** Fomatação dos links ****
*/
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
}
article a:hover {
    text-decoration: underline;
}

header a:link, a:visited {
    color: white;
    padding: 5px 10px;
}
header a:hover {
    color: #f7b600;
    background: white;
    padding: 5px 10px;
    border-radius: 3px;
}
/*
**** Fomatação em geral ****
*/

#AreaPrincipal {
    width: 920px;
    margin: auto;
    height: 100vh;
}

#AreaDePostagens {
    padding: 20px 0px ;
}
 aside {
    background-color: orange;
}
.Postagem {
    background: #ffffff;
    width: 600px;
    float: left;
    padding: 15px;
    margin-bottom: 20px;
}

aside {
    width: 240px;
    float:right;
}

footer {
    clear: both;
    background: rgb(0, 30, 128);
    text-align: center;
    padding: 10px;
    background: #CCC;
}



