body {
    background-image: url(imagens/fundo.png);
    
}

img {
    height: 100%;
    width: 100%;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.295);
}

nav {
    padding: 10px 20px;
}
nav a {
    margin-right: 50px; /* Adiciona espaçamento à direita de cada link */
  }

  main { background-color: beige; 
    border-radius: 5px; 
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.295);  
    padding: 20px;
 }

 main img {
    border: 15px solid rgb(136, 129, 97);
    height: 90%;
    width: 98%;
 }

 h2 {
    color: rgb(158, 133, 63);
    font-family: Arial, Helvetica, sans-serif;
 }

  p {
    padding-top: 35px;
  }
  footer {
    margin-top: 20px;
    text-align: center;
  }