
/*********************************************************
Seletor Universal
*/

*{
    border: 2px solid red;
}


/*********************************************************
Seletor de texto
*/

h1 {
    color: blue;
}


/*********************************************************
Seletor de Classe
*/
.verde {
    color: green;
}


/*********************************************************
Seletor de Classe
*/
p.verde {
    color: rgb(37, 221, 1);
}

/*********************************************************
Seletor de ID
*/
#titulo {
    border: 2px solid rgb(0, 0, 0);
}

/*********************************************************
Seletor de filho
*/
li>a {
     color: aqua;
     text-decoration: none;
}

/*********************************************************
Seletor Descendente
*/
p a {
    color: rgb(255, 153, 0);
}

/*********************************************************
Seletor de irmão Adjacente
*/
h1+p {
color: rgb(140, 0, 255);
}

/*********************************************************
Seletor de irmão geral
*/
h1~p {
    color: rgb(255, 2, 221);
}
