#topo {
    background-color: rgb(21, 21, 92);
}

#conteudo {
    background-color: rgb(230, 78, 78);
}

#rodape {
    background-color: rgb(73, 230, 73);
}

.produto {
    background-color: gray;
    margin: 10px;
    border: 2px solid black;
}

