/*Barra de navegação horizontal*/

ul, #navegacao {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 750px;
    background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
    float: left;
}

ul, #navegacao  li {
    float: left;

}

ul, #navegacao a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url(imagens/divisor.png) repeat-y;
}