body {
    margin: 0px;
   
}
.cabecalho {
    padding-right: 10px;
}


header {
    width: 100%;
}

.container {
    display: flex;
    margin: 0px; 
    width: 100%;
}

div {
    
    width: 50%;
    height:104px;
   
  }

#logo {
    display: flex;
    margin: auto;
    height: 60px;
    padding-left: 10%;
  }

#links {
    margin: auto;
    padding-right: 11%;

}


a:hover {
    color: rgb(55, 10, 255);
}

a:visited {
    color: rgb(154, 7, 252);
}


header {
    background-color: white;
    width: 70%;
    margin: auto;
    
}

.fundo {
    background-image: url(imagens-projeto-UNES/fundo.png);
}

.capa {
    width: 80%;
    height: 414px;
    margin: auto;
    display: flex;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}


main {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    margin-top: 5%;
    text-align: center;
    
}