a {
    color: orangered;
    padding: 10px 10px;
    text-decoration: none;
}

/*Links não visitados*/
a:link {
    color: #b9c941;
}

/*Links Visitados*/
a:visited{
    color: #b9c941;
}

/*Links Hover, passa o cursor sobre o link*/
a:hover{
    color: #ffffff;
    background: rgb(0, 0, 0);
}

/*Links Ativos,  quando clicado*/
a:active {
    color: #e4f371;
}